Repository ssafy6-nathan/algorithm-study, pull requests merged in 2022-06, with the labels that each got.

#64 한지희 알고리즘 문제풀이
  22.05.31/HJH/b17074.java
  22.06.07/HJH/BOJ14244_트리만들기.java
  22.06.07/HJH/BOJ14426접두사찾기.PNG
  22.06.07/HJH/BOJ14426접두사찾기.java
  22.06.07/HJH/BOJ9934완전이진트리.java
  22.06.07/HJH/b9372_상근이의여행.java
Labels: Java, Solve

#66 황정준 알고리즘 문제풀이
  22.06.07/HJJ/Baekjoon14244.java
  22.06.07/HJJ/Baekjoon14426.java
  22.06.07/HJJ/Baekjoon9372.java
  22.06.07/HJJ/Baekjoon9934.java
Labels: Java, Solve

#65 이정훈 문제풀이
  22.06.07/EJH/14244_트리만들기.py
  22.06.07/EJH/14426_접두사찾기.py
  22.06.07/EJH/9372_상근이의 여행.py
  22.06.07/EJH/9934_완전이진트리.py
Labels: Python, Solve

#67 한혜성 알고리즘문제풀이
  22.06.07/HHS/Main_BOJ_14244_트리만들기.java
  22.06.07/HHS/Main_BOJ_9372_상근이의여행.java
  22.06.07/HHS/Main_BOJ_9934_완전이진트리.java
Labels: Java, Not Solve

#71 한혜성_알고리즘문제풀이
  22.06.14/HHS/Main_BOJ_1476_날짜계산.java
  22.06.14/HHS/Main_BOJ_2529_부등호.java
  22.06.14/HHS/Main_BOJ_6603_로또.java
Labels: Java, Not Solve

#68 [16주차] 한지희 알고리즘 문제풀이
  22.06.14/HJH/BOJ1476_날짜계산.java
  22.06.14/HJH/BOJ2529_부등호.java
Labels: Java

#69 이정훈 문제풀이
  22.06.14/EJH/1476_날짜계산.py
  22.06.14/EJH/2529_부등호.py
  22.06.14/EJH/2580_스도쿠.py
  22.06.14/EJH/6603_로또.py
Labels: Python, Solve

#70 황정준 16주차 문제풀이
  22.06.14/HJJ/Baekjoon1476.java
  22.06.14/HJJ/Baekjoon2529.java
  22.06.14/HJJ/Baekjoon2580.java
  22.06.14/HJJ/Baekjoon6603.java
Labels: Java, Solve

#74 한지희 알고리즘 문제풀이
  22.06.21/HJH/Gold/1019. 책페이지/책페이지.java
  22.06.21/HJH/Gold/1759. 암호 만들기/암호 만들기.java
  22.06.21/HJH/Silver/9020. 골드바흐의 추측/BOJ9020_골드바흐의추측.java
Labels: Java, Not Solve

#72 이정훈 문제풀이
  22.06.21/EJH/1019_책 페이지.py
  22.06.21/EJH/1759_암호 만들기.py
  22.06.21/EJH/9020_골드바흐의 추측.py
Labels: Python, Solve

#75 한혜성_알고리즘문제풀이
  22.06.21/HHS/Main_BOJ_1759_암호만들기.java
  22.06.21/HHS/Main_BOJ_9020_골드바흐의추측.java
Labels: Java, Not Solve

#78 한혜성_알고리즘문제풀이
  22.06.28/HHS/Main_BOJ_1052_물병.java
  22.06.28/HHS/Main_BOJ_2023_신기한소수.java
  22.06.28/HHS/Main_BOJ_2981_검문.java
  22.06.28/HHS/Main_BOJ_4948_베르트랑공준.java
Labels: Java, Not Solve

#76 이정훈 문제풀이
  22.06.28/EJH/1052_물병.py
  22.06.28/EJH/1052_물병2.py
  22.06.28/EJH/2023_신기한 소수.py
  22.06.28/EJH/2981_검문.py
  22.06.28/EJH/2981_검문2.py
  22.06.28/EJH/4948_베르트랑 공준.py
Labels: Python, Solve
