Repository ssafy6-nathan/algorithm-study, pull requests merged in 2022-09, with the labels that each got.

#117 한지희 알고리즘 문제풀이
  README.md
  study/22.09.06/HJH/기차가 어둠을 헤치고 은하수를.java
  study/22.09.06/HJH/동아리실관리하기.java
  study/22.09.06/HJH/링크와스타트.java
  study/22.09.06/HJH/집합.java
Labels: Java, Solve

#115 한혜성 알고리즘문제풀이
  study/22.09.06/HHS/Main_BOJ_11723_집합.java
  study/22.09.06/HHS/Main_BOJ_15661_링크와스타트.java
  study/22.09.06/HHS/Main_BOJ_15787_기차가어둠을헤치고은하수를.java
  study/22.09.06/HHS/Solution_10726_이진수표현.java
Labels: Java, Solve

#114 이정훈 문제 풀이 업로드
  study/22.09.06/EJH/11723_집합.py
  study/22.09.06/EJH/11723_집합2.py
  study/22.09.06/EJH/11723_집합3.py
  study/22.09.06/EJH/15661_링크와 스타트.py
  study/22.09.06/EJH/15661_링크와 스타트2.py
  study/22.09.06/EJH/15787_기차가 어둠을 헤치고.py
  study/22.09.06/EJH/SW10726_이진수 표현.py
Labels: Python, Solve

#116 황정준 알고리즘 문제풀이
  study/22.09.06/HJJ/Baekjoon11723.java
  study/22.09.06/HJJ/Baekjoon15661.java
  study/22.09.06/HJJ/Baekjoon15787.java
Labels: Java, Not Solve

#120 황정준 알고리즘 문제풀이
  study/22.09.20/HJJ/Programmers_k진수에서소수개수구하기.java
  study/22.09.20/HJJ/Programmers_신고결과받기.java
  study/22.09.20/HJJ/Programmers_양궁대회.java
Labels: Java, Not Solve

#118 이정훈 문제 풀이 업로드
  study/22.09.20/EJH/k진수에서 소수 개수 구하기.py
  study/22.09.20/EJH/사라지는 발판.py
  study/22.09.20/EJH/신고 결과 받기.py
  study/22.09.20/EJH/양과 늑대.py
  study/22.09.20/EJH/양궁대회.py
  study/22.09.20/EJH/주차 요금 계산.py
  study/22.09.20/EJH/파괴되지 않은 건물.py
Labels: Python, Solve

#121 한지희 알고리즘 문제풀이
  study/22.09.20/HJH/k.java
  study/22.09.20/HJH/singo.java
  study/22.09.20/HJH/singo.js
Labels: Java, Not Solve

#119 한혜성 알고리즘 문제풀이
  study/22.09.20/HHS/K진수에서소수개수구하기.java
  study/22.09.20/HHS/신고결과받기.java
  study/22.09.20/HHS/양궁대회.java
  study/22.09.20/HHS/파괴되지않은건물.java
Labels: Java, Solve
